<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /app/simple 
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /app/simple/index.php [L]
</IfModule>